#main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(./tet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.btn.btn-li {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}
.group-card {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: white;
  border-radius: 10px;
  z-index: 10;
}
body {
  overflow: hidden;
}

.card-pick {
  background-image: url(./bao1.jpg);
  height: 130px;
  border-radius: 10px;
  background-size: contain;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.card-pick.bg-2 {
  background-image: url(./bao2.jpg);
}
.card-pick.bg-3 {
  background-image: url(./bao5.jpg);
}
.card-pick.bg-4 {
  background-image: url(./bao4.jpg);
}








.card-pick::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card-pick::after {
  position: absolute;
  content: "";
  top: calc(130 / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(130 / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.body >div:not(#main) {
  pointer-events: none;
}


.card-pick p {
  background-color: white;
  position: absolute;
  padding: 10px;
  border-radius: 20px;
  font-size: 25px;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.opa {
  opacity: 0.4;
  height: 70px;

}

#success-text {
  margin-top: 50px;
  font-size: 20px;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#success-text small {
  font-size: 14px;
}